body {
  margin: 10px;
  padding: 0;
}
header {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}
section.body {
  margin: 0 auto;
  width: 90%;
}
nav {
  margin-bottom: 1-px;
  margin: 8px 0px;
}
.div {
  display: inline-block;

  color: #999;
  border-width: 80px;
  padding: 8px;
  margin: 1px;
  border: 1px solid;
}
.card {
  border: solid 1.5px #999;
  border-radius: 8px;
  width: 250px;
}
input[type="text"] {
  width: 200px;
  height: 25px;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: 10px 0; /*元素之間間隔*/
}
table th {
  background-color: #7777;
  color: white;
}
th,
td {
  height: 30px;
}
tr > td {
  padding: 8px;
}
tr > td.id {
  text-align: center;
  width: 120px;
}
td.id {
  text-align: center;
  width: 120px;
  margin: 10px 0;
}
td.company {
  text-align: center;
  width: 150px;
}
td.price {
  text-align: right;
}

footer {
  margin: 20px 0;
}
:-webkit-input-placeholder {
  /*Webkit browsers*/

  color: #999;
}

:-moz-placeholder {
  /*Mozilla Firefox*/

  color: #999;

  opacity: 1;
}

:-ms-input-placeholder {
  /*Internet Explorer 10+*/

  color: #999;
}
.hover:hover {
  background-color: yellow;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  align-content: stretch;
  column-gap: 10px;
  flex-basis: 10;
  order: 10;
}
.flex-center {
  margin: 10px 10px 10px 10px;
}
.inside {
  color: black;
}
